@charset "UTF-8";
a {
  text-decoration: none;
  color: #26303a;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: #e6eaee;
  color: #26303a;
}
#contents {
  margin: 0 auto;
  background: #fff;
  position: relative;
  overflow: hidden;
}
#contents section {
  position: relative;
  overflow: hidden;
  background-color: #f3f3f8;
  padding: 3% 0;
}
#contents section:nth-child(2n) {
  background-color: white;
}
#contents section h1 {
  font-size: 30px;
  margin: 0 3% 3% 3%;
  text-transform: uppercase;
}
