*.DS_Store
*.project
*.prefs
*.pydevproject
*.pyc
__pycache__/
/build/
/dist/
*.egg-info/

*.db

.settings/.jsdtscope

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name
