@charset "UTF-8";
@import "header";
@import "navbar";
@import "about";
@import "crew";
@import "products";
@import "contact";
@import "footer";

@mq_large: ~"(min-width: 768px) and (max-width: 979px) ";
@mq_middle: ~"(max-width: 767px)";
@mq_small: ~"(max-width: 480px)";

a {
  text-decoration: none;
  color: #26303a;
}

li {
  list-style: none;
}

body {
  background-color: #e6eaee;
  color: #26303a;
}

#contents {
  margin: 0 auto;
  background: #fff;
  position: relative;
}

#contents > section {
  position: relative;
  overflow: hidden;
  padding: 2%;
  background-color: #f3f3f8;
  &:nth-child(2n) {
    background-color: white;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 3%;
    text-transform: uppercase;
  }
}

