@charset "UTF-8";

ul.crew {
  margin: 0 5%;
  overflow: hidden;
  text-align: center;
  li {
    overflow: hidden;
    width: 135px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 20px 0;
    position: relative;
    img {
      border-radius: 15px;
    }
    em {
      font-style: normal;
      position: absolute;
      top: 10px;
      width: 100%;
      display: block;
      font-size: 15px;
      color: #ffffff;
      text-shadow: 1px 1px 1px #333333
    }
    strong {font-size:14px;
      line-height:2em;
    letter-spacing:4px;
    text-indent: 4px;}
    p.comment {
      background: #e5e5e5;
      border-radius: 15px;
      padding: 10px;
      text-align: center;
      font-size: 13px;
      .arrow(5px, #e5e5e5, top, 50%, 0px,#e5e5e5);
    }
  }
}

div#recruit {
  display: none;
  background: #e6eaee;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  &:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(230, 234, 238, 0);
    border-bottom-color: #e6eaee;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
  }
  h1 {
    font-size: 20px !important;
    margin: 0 0 20px 0;
    text-align: center;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    padding: 20px 0 0 0;
  }

  ul {
    li {
      margin-left: 20px;
      list-style-type: disc;
      font-size: 13px;
    }
  }
}