@charset "UTF-8";
ul.crew {
  clear: both;
  margin: 0 auto;
  overflow: hidden;
}
ul.crew li {
  display: block;
  float: left;
  cursor: pointer;
  margin: 0 0 20px 30px;
}
@media (min-width: 1200px) {
  ul.crew li {
    margin: 0 0 26.666666666666664px 40px;
  }
}
@media (min-width: 768px) and (max-width: 979px)  {
  ul.crew li {
    margin: 0 0 15px 22.5px;
  }
}
@media (max-width: 767px) {
  ul.crew li {
    margin: 0 0 13.333333333333332px 20px;
  }
}
@media (max-width: 480px) {
  ul.crew li {
    margin: 0 0 10px 15px;
  }
}
ul.crew li img,
ul.crew li.recruit span {
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 100%;
}
@media (min-width: 1200px) {
  ul.crew li img,
  ul.crew li.recruit span {
    width: 117.33333333333333px;
  }
}
@media (min-width: 768px) and (max-width: 979px)  {
  ul.crew li img,
  ul.crew li.recruit span {
    width: 66px;
  }
}
@media (max-width: 767px) {
  ul.crew li img,
  ul.crew li.recruit span {
    width: 58.666666666666664px;
  }
}
@media (max-width: 480px) {
  ul.crew li img,
  ul.crew li.recruit span {
    width: 44px;
  }
}
@media (min-width: 1200px) {
  ul.crew li img,
  ul.crew li.recruit span {
    height: 117.33333333333333px;
  }
}
@media (min-width: 768px) and (max-width: 979px)  {
  ul.crew li img,
  ul.crew li.recruit span {
    height: 66px;
  }
}
@media (max-width: 767px) {
  ul.crew li img,
  ul.crew li.recruit span {
    height: 58.666666666666664px;
  }
}
@media (max-width: 480px) {
  ul.crew li img,
  ul.crew li.recruit span {
    height: 44px;
  }
}
ul.crew li.recruit span {
  background: #e6eaee;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
ul.crew li .detail {
  display: none;
}
ul.crew li.first {
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  background: #e6eaee;
  overflow: hidden;
  display: block;
  float: none;
  clear: both;
}
@media (min-width: 1200px) {
  ul.crew li.first {
    padding: 40px 40px 40px 40px;
  }
}
@media (min-width: 768px) and (max-width: 979px)  {
  ul.crew li.first {
    padding: 22.5px 22.5px 22.5px 22.5px;
  }
}
@media (max-width: 767px) {
  ul.crew li.first {
    padding: 20px 20px 20px 20px;
  }
}
@media (max-width: 480px) {
  ul.crew li.first {
    padding: 15px 15px 15px 15px;
  }
}
ul.crew li.first img {
  width: 18%;
  height: 18%;
  border-radius: 100%;
  float: left;
}
ul.crew li.first .detail {
  display: table-cell;
  float: left;
  margin-left: 4%;
  width: 78%;
}
ul.crew li.first .detail .comment {
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  padding: 5% 5%;
  font-size: 15px;
}
ul.crew li.first .detail .comment:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
ul.crew li.first .detail strong,
ul.crew li.first .detail em {
  float: left;
}
ul.crew li.first .detail div.urls {
  float: right;
}
#recruit {
  display: none;
  background: #e6eaee;
  position: relative;
  margin-top: 20px;
  padding: 40px;
  border-radius: 16px;
}
#recruit:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(230, 234, 238, 0);
  border-bottom-color: #e6eaee;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}
#recruit h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
#recruit h2 {
  font-size: 16px;
  margin-bottom: 40px;
}
#recruit p {
  font-size: 15px;
  margin: 10px;
}
#recruit ul {
  margin: 10px 40px;
}
#recruit ul li {
  list-style-type: disc;
  font-size: 13px;
  line-height: 20px;
}
