@charset "UTF-8";

.container {
    width: 100%;
}

.container > header {
    padding: 1px 0;
    background-color: #26303a;
    background: url("../images/header/pattern.png") center repeat,
                url("../images/header/slogan-2.jpg") center no-repeat;
    background-size: auto, 1000px;
    color: white;
    > * {
        max-width: 960px;
        margin: 0 auto;
        text-transform: uppercase;
    }
    > *:first-child { margin-top: 100px; }
    > *:last-child  { margin-bottom: 480px; }
    h1 { font-size: 120px; font-weight: normal; }
    p  { font-size: 40px; }

    @media (min-width: 1000px) {
        background-size: auto, cover;
    }

    @media (max-width: 480px) {
        background-size: auto, 500px;
        > * { padding-left: 25px; }
        > *:first-child { margin-top: 50px; }
        > *:last-child  { margin-bottom: 50px; }
        h1 { font-size: 50px; }
        p  { font-size: 25px; }
    }
}

