@charset "UTF-8";
header {
  padding: 0;
  background-color: #26303a;
  background: url("../images/header/pattern.png") center repeat, url("../images/header/slogan-2.jpg") center no-repeat;
  background-size: auto, 100%;
  color: white;
}
header h1 {
  font-size: 80px;
  font-weight: normal;
}
header p {
  font-size: 40px;
}
