@charset "UTF-8";

#navbar {
    top: 360px;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);

    @media (max-width: 480px) {
        #navbar {
            top: 160px;
        }
    }
}

.navbar-inner {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;

    .logo {
        display: block;
        width: 20%;
        height: 60px;
        float: left;
        background: url(../images/home/smartstudy_logo.png) center center no-repeat;
        background-size: auto 90%;

        @media (max-width: 480px) {
            width: 20%;
            height: 30px;
            background: url(../images/home/smartstudy_logo_mini.png) center center no-repeat;
            background-size: auto 90%;
        }
    }



    ul {
        float: left;
        width: 80%;

        @media (max-width: 480px) {
            display: none;
        }
    }



    li {
        float: left;
        width: 15%;
        padding: 0 2.5%;
        text-align: center;
        line-height: 60px;
        font-size: 1.125em;

        a {
            color: #d7dadd;
            font-weight: bold;
            display: block;
            font-family: Helvetica Neue;
        }

        &.active a {
            color: #1c2447;
        }
    }
}