@charset "UTF-8";
.navbar {
  z-index: 1000;
  background: #fff;
  margin-bottom: 0;
  background: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  opacity: 0.9;
  .navbar-inner {
    border: none;
    background: #ffffff;
    overflow: hidden;
    .container {
      overflow: hidden;
    }
  }
  .brand {
    background: url(../images/home/smartstudy_logo.png) center center no-repeat;
    background-size: auto 90%;
    width: 180px;
    height: 60px;
    overflow: hidden;
    line-height: 300;
  }
  .nav {
    overflow: hidden;
    li {
      overflow: hidden;
      line-height: 60px;
      font-size: 1.125em;
      text-align: center;
      a {
        color: #d7dadd;
        font-weight: bold;
        display: block;
        font-family: Helvetica Neue;
        padding-left: 2em;
        padding-right: 2em;
      }
      &.active a,
      &.active a:hover,
      &.active a:focus {
        color: #1c2447;
        background: #ffffff;
        transition: color 500ms ease;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

    }

  }
  button {
    display: none;
  }
}

@media @mq_middle {
  .navbar {
    .brand {
      width: 60px;
      height: 30px;
    }
    .nav {
      overflow: visible;
      background: #1c2447;
      position: absolute;
      li {
        display: block;
        float: none;
        z-index: 2000;
        line-height: 30px;
        a {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          color: #fff;
          font-size: 15px;

        }
        &.active {
          background: #1c2447;
        }
      }
      display:none;
    }
    button {
      display: block;
    }
  }

}
