@charset "UTF-8";
#products h2 {
  font-size: 18px;
  margin: 50px 0;
}
#products ul {
  margin: 0 auto;
}
#products li {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  margin: 0;
}
#products .achievements {
  width: 85.41666666666666%;
  margin: 40px auto 75px;
  text-transform: uppercase;
}
#products .achievements li {
  width: 25%;
}
#products .achievements li:before {
  content: "";
  display: block;
  width: 75%;
  height: 150px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#products .achievements li:nth-child(1):before {
  background-image: url("../images/home/products/global-downloads.svg");
}
#products .achievements li:nth-child(2):before {
  background-image: url("../images/home/products/daily-active-user.svg");
}
#products .achievements li:nth-child(3):before {
  background-image: url("../images/home/products/released-apps.svg");
}
#products .achievements li:nth-child(4):before {
  background-image: url("../images/home/products/top-grossing.svg");
}
#products .achievements p {
  margin: 20px;
  line-height: 100%;
  font-size: 15px;
  color: #494949;
}
#products .achievements p:first-child {
  margin: 20px 0;
  height: 60px;
  font-size: 58px;
  color: black;
}
#products .achievements p:first-child sub {
  font-size: 50%;
  vertical-align: baseline;
}
@media screen and (max-width: 767px) {
  #products .achievements p {
    font-size: 12px;
  }
  #products .achievements p:first-child {
    font-size: 46px;
  }
}
#products .apps {
  width: 100%;
}
#products .apps li {
  width: 18%;
  margin: 0 1.25%;
  background-color: white;
}
#products .apps li:first-child {
  margin-left: 0;
}
#products .apps li:last-child {
  margin-right: 0;
}
#products .apps .icon {
  width: 75%;
  margin: 15% auto;
}
#products .apps .icon,
#products .apps .icon img {
  display: block;
}
#products .apps .icon img {
  width: 100%;
  height: auto;
}
#products .apps h2,
#products .apps .category {
  margin: 15%;
  text-transform: uppercase;
}
#products .apps h2 {
  margin-top: 20px;
  margin-bottom: 8px;
  height: 50px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  #products .apps h2 {
    font-size: 14px;
  }
  #products .apps p {
    font-size: 9px;
  }
}
#products .more-apps {
  display: block;
  width: 40%;
  height: 64px;
  line-height: 64px;
  margin: 50px auto;
  background-color: #26303a;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 9px;
  transition: background-color 200ms ease;
}
#products .more-apps,
#products .more-apps:link,
#products .more-apps:active,
#products .more-apps:hover,
#products .more-apps:visited {
  color: #ffffff;
}
#products .more-apps:hover {
  background-color: #3a4959;
}
@media screen and (max-width: 480px) {
  #products li {
    float: none;
    width: auto;
    height: auto;
    text-align: left;
    margin: 0;
    padding: 12px 0;
  }
  #products .icon,
  #products .icon img {
    width: 60px;
    height: 60px;
    margin: 0;
  }
  #products h2 {
    margin: 4px 0 8px;
    height: auto;
    font-size: 180%;
  }
  #products .icon {
    float: left;
  }
  #products .icon ~ * {
    margin-left: 80px;
  }
}
