<footer>
    <section>
        <div class="social">
            <a href="https://www.facebook.com/SmartStudyKR"><img src="{{ STATIC_URL}}images/home/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/smartstudy_kr"><img src="{{ STATIC_URL}}images/home/twitter.png" alt="Twitter"></a>
        </div>
        <div class="info clearfix">
            <li>사업자등록번호 : 214-88-59980</li>
            <li>상호명 : 스마트스터디(주)</li>
            <li>대표자명 : 김민석</li>
            <li>주소지 : 서울시 서초구 서초동 1516-2 5층</li>
            <li>고객센터번호 : 080-470-3000</li>
            <li><a href="/privacy">개인정보취급방침</a></li>
        </div>
        <div class="howoldweare">
            2010-{% now 'Y' %} SMARTSTUDY
        </div>
    </section>
</footer>
