<h1>About Us</h1>

<h2>SmartStudy is a mobile contents provider.</h2>

<h3>2012</h3>
<ul>
    <li>• Developed motion sensing game for character fair 2012</li>
    <li>• App publishing contract made with Tong Communication</li>
    <li>• Released Apps on Google Play Store</li>
    <li>• Won the Bestseller Education App prize in ‘SK Telecom
        Developers Event’</li>
</ul>
<h3>2011</h3>
<ul>
    <li>• Won first prize in ‘SK Telecom T Store Global App
        Contest’</li>
    <li>• Released Apps on U+ App Market and Samsung Apps</li>
</ul>
<h3>2010</h3>
<ul>
    <li>• Won a prize in ‘Android App Festival’ co-sponsored by SK
        Telecom and Samsung Electronics</li>
    <li>• Started mobile contents service for children using
        Wireless Internet Platform from KT, SK Telecom, and LG U+</li>
    <li>• Released Apps on App Store and T Store</li>
</ul>
