<h1>CONTACT</h1>
<div class="wrap">
    <p>CALL US FOR CUSTOMER SERVICE</p>

    <p>080.470.3000 (MON-FRI/9AMT-6PM)</p>
</div>
<div class="wrap">
    <p>EMAIL US FOR CUSTOMER SERVICE</p>

    <p>CS@SMARTSTUDY.CO.KR</p>
</div>
<div class="wrap">
    <p>EMAIL US FOR BUSINESS</p>

    <p>WITH@SMARTSTUDY.CO.KR</p>
</div>
<!-- div id="map"></div -->
<div id="map_image">
    <div class="address">
        <p>STOP BY FOR A VISIT</p>

        <p>1516-1, Seocho-dong, Seocho-gu</p>

        <p>Seoul, Korea 137-871</p>
        <a class="google-map" href="#">GOOGLE MAP</a>
    </div>
    <!-- img src="http://maps.googleapis.com/maps/api/streetview?size=400x400&location=37.4856366,%20127.00432139999998&heading=70&pitch=20&fov=120&sensor=false" -->
    <img src="{{ STATIC_URL }}images/home/map.png" alt="map"/>
</div>