<h1>PRODUCTS</h1>

<h2>Our achievements since 2010!</h2>
<ul class="achievements">
    <li>
        <strong>18<sub>million</sub></strong>
        Global <br/>downloads
    </li>
    <li>
        <strong>550,000</strong>
        Daily <br/>active user
    </li>
    <li>
        <strong>300</strong>
        Apps<br/> released
    </li>
    <li>
        <strong>1<sub>st</sub></strong>
        Top grossing <br/>in 75 countries
    </li>
</ul>

<ul class="products">
    {% for product in products %}
    <li>
        <a class="icon" href="{{ product.store_url }}">
            <img src="{{ product.icon }}" width="120" height="120" alt="{{ product.name }}"/>
            <strong>{{ product.name }}</strong>
            <em class="category">{{ product.category }}</em>
        </a>
    </li>
    {% endfor %}
</ul>

<a class="more-apps" href="#">More apps</a>
