<h1>부족원</h1>
<div class="crew_first"></div>
<ul class="crew">{% for item in crew %}
    <li class="crew">
        <img src="{{ item.picture.url }}" />
        <div class="comment">
            <strong>{{ item.nick }}</strong>
            <span>{{ item.comment }}</span>
        </div>
    </li>{% endfor %}
    <li class="recruit">
        <span>거기 자네..</span>
    </li>
</ul>
<div id="recruit">
    <h1>거기 자네, 오지 않겠는가?</h1>
    <h2>스마트스터디는 넥슨/네오위즈/NHN 등에서 인터넷과 게임산업의 발전을 주도한 최고의 인재들로 구성되어 있습니다.</h2>
    <p>1. 스마트스터디는 안정적인 사업구조로 산업을 주도하고 있습니다.</p>
    <ul>
    <li>60년 전통의 대한민국 No.1 출판사인 삼성출판사의 자회사로 각종 교육/도서/게임/인터넷 서비스의 기반이 되는 다양한 콘텐츠를 확보하고 있습니다.</li>
    <li>2010년 6월 설립부터 다양한 타이틀을 출시하고 있으며, 앱스토어/티스토어 교육분야 매출 1위 보들북을 중심으로 안정적인 사업을 운용하고 있습니다.</li>
    </ul>
    
    <p>2. 스마트스터디는 웃고 떠들 수 있는 곳입니다.</p>
    <ul>
    <li>창의력과 자율성은 사용자의 마음을 움직이는 날카로운 기획, 감동을 주는 디자인, 퀄리티 높은 개발로 이어집니다.</li>
    <li>마음껏 생각과 아이디어를 공유하고, 이를 자신의 직무에 맞춰 재미있는 결과물로 만들어주세요.</li>
    </ul>
    
    <p>3. 단, 스마트스터디는 이런 분들은 정중히 사양합니다.</p>
    <ul>
    <li>저건 안돼, 재미 없어, 시시해 등을 남발하는 비관적인 사고를 가지신 분.</li>
    <li>사회/문화/IT 등의 분야에서 나타나는 다양한 사건이나 현상에 대한 호기심을 잃어버리신 분.</li>
    <li>휴가를 휴가답게 쓰지 않고 하루 단위로 쓰시는 분.</li>
    </ul>
    <p>4. 반면, 스마트스터디는 이런 분들을 환영합니다.</p>
    <ul>
    <li>아이디어를 공유하기 좋아하며, 이를 실제로 만들어 보고 싶은 욕구가 넘치시는 분.</li>
    <li>새로운 서비스나 앱이 출시되면 사용하는 것에 그치지 않고, 장단점과 발전 가능성에 대한 토론을 즐기시는 분.</li>
    <li>집중해서 열심히 일한 후에, 19박 20일 유럽 휴가를 다녀오고 싶으신 분.</li>
    </ul>
    <p>저희와 함께 일해보고 싶으신 분은 주저하지 말고 <a href="mailto:recruit@smartstudy.co.kr"><span class="roundbox">recruit@smartstudy.co.kr</span></a>로 간단한 자기소개, 이력서, 포트폴리오를 보내주세요.</p>
</div>
