{% extends 'base.html' %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2qaG0pmfBOwbQxN-Ni-ZzklGIVIN-tTk&sensor=false"></script>
<script src="{{ STATIC_URL }}js/crew.js"></script>
{% endblock %}

{% block container %}
<header>
    <h1>SMARTSTUDY</h1>
    <p>No.1 Contents Provider</p>
</header>

<div id="navbar">
    <nav class="navbar-inner">
        <a href="" alt="logo" class="logo"></a>
        <ul class="nav">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#crew">CREW</a></li>
            <li><a href="#products">PRODUCTS</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>
</div>

<div id="contents">
<section id="about">
<div class="inner">
{% include "home/about.html" %}
</div>
</section>

<section id="crew">
<div class="inner">
{% include "home/crew.html" %}
</div>
</section>

<section id="products">
<div class="inner">
{% include "home/products.html" %}
</div>
</section>

<section id="contact">
<div class="inner">
{% include "home/contact.html" %}
</div>
</div>
</section>
{% endblock %}
