{% extends 'base.html' %}

{% block extra_css %}
<link href="{{ STATIC_URL }}css/home.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/crew.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/products.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/contact.css" rel="stylesheet">
{% endblock %}

{% block container %}
<section id="brand">
    <h1>SMARTSTUDY</h1>
</section>

<nav>
    <ul>
        <li><a href="/#about">ABOUT</a></li>
        <li><a href="/#crew">CREW</a></li>
        <li><a href="/#products">PRODUCTS</a></li>
        <li><a href="/#contact">CONTACT</a></li>
    </ul>
</nav>

<section id="about">
{% include "home/about.html" %}
</section>

<section id="crew">
{% include "home/crew.html" %}
</section>

<section id="products">
{% include "home/products.html" %}
</section>

<section id="contact">
{% include "home/contact.html" %}
</section>
{% endblock %}
