<h1>Apps</h1>

<h2>Our achievements since 2010!</h2>
<ul class="achievements">
  <li>
    <p>18<sub>million</sub></p>
    <p>Global<br />downloads</p>
  </li>
  <li>
    <p>550,000</p>
    <p>Daily<br /> active user</p>
  </li>
  <li>
    <p>300</p>
    <p>Apps<br /> released</p>
  </li>
  <li>
    <p>1<sub>st</sub></p>
    <p>Top grossing<br />in 75 countries</p>
  </li>
</ul>

<ul class="apps">
{% for product in products %}
  <li>
    <a class="icon" href="{{ product.store_url }}">
      <img src="{{ product.icon }}" width="120" height="120" alt="{{ product.name }}" />
    </a>
    <h2>{{ product.name }}</h2>
    <p class="category">{{ product.category }}</p>
  </li>
{% endfor %}
</ul>

<a class="more-apps" href="#">More apps</a>
